* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#imagen-inicio {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}
#h1-inicio {
  background-color: #333;
  font-size: 45px;
  padding: 8px;
  text-align: center;

  transition: transform 0.5s linear;
  &:hover {
    transform: scale(1.2);
  }
}
@mixin titulo {
  margin: 1px;
  color: white;
  font-size: 45px;
  padding: 8px;
  text-align: center;
  transition: transform 0.5s linear;
  &:hover {
    transform: scale(1.2);
  }
}
h1 {
  @include titulo;
}

h2 {
  @include titulo();
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  align-items: center;
  background-color: #020203;
}

header {
  height: auto;
}
// Se debe cambiar el nombre de la clase navbar y nav links por interferencia con bootstrap
.navbar- {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 15px 30px;
  height: auto;
}
.nav-links- {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  transition: transform 0.7s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.nav-links- li a {
  color: white;
  text-decoration: none;
  padding: 8px;
  border: solid 1px;
  border-radius: 20px;

  &:hover {
    background-color: rgb(4, 99, 99);
  }
}

.contenedores-texto {
  background-color: silver;
  border: 2px, solid black;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: inherit;
  flex-wrap: wrap;
  max-width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
}

#texto-principal {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.caja-integrantes2 {
  max-width: 300px;
  height: 500px;
  background-color: grey;
  padding: 15px;
}

.caja-contenedora {
  max-width: 100%;
  height: auto;
  padding: 20px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: inherit;
  flex-wrap: wrap;
  .discos {
    background-color: silver;
  }
}

.imagen-adaptable {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-miembros {
  color: antiquewhite;
  margin: 1px;
}
footer {
  font-size: 25px;
  text-decoration: underline;
  border: black;
  background-color: #333;
  p {
    color: antiquewhite;
  }
  .a-footer {
    color: aliceblue;
  }
}
#img-carrusel {
  border: solid #333;
  width: 100%;
  object-fit: cover;
  padding: 40px;
  background-color: #333;
}
.caja-video {
  background-color: #333;
  padding: 25px;
}
.pulse {
  background-color: #333;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  color: aliceblue;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
